/* Common CSS for all files */

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #473a8d;
  overflow-x: hidden;
  color: white;

}

h2 {
  font-weight: normal;
}

#root{
    width: 100%;
}
